# gitit wiki configuration file

#address: 0.0.0.0
address: 127.0.0.1
port: {{ port }}
wiki-title: Wiki
repository-type: Git
repository-path: /home/{{ location_name }}/wikidata
#require-authentication: modify
require-authentication: read
authentication-method: form
user-file: /home/{{ location_name }}/gitit-users
session-timeout: 1440
static-dir: /home/{{ location_name }}/static
default-page-type: Markdown
math: MathML
mathjax-script: https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML
show-lhs-bird-tracks: no
templates-dir: /home/{{ location_name }}/templates
log-file: /home/{{ location_name }}/gitit.log
log-level: WARNING
front-page: Front Page
no-delete: Front Page, Help
no-edit: Help
default-summary:
table-of-contents: yes
plugins:
use-cache: no
cache-dir: cache
max-upload-size: 100K
max-page-size: 100K
debug-mode: no
#compress-responses: yes
compress-responses: no
mime-types-file: /etc/mime.types
use-recaptcha: no
recaptcha-private-key:
recaptcha-public-key:
access-question:access
access-question-answers:{{ access }}
use-feed: no
base-url:
absolute-urls: no
feed-days: 14
feed-refresh-time: 60
pdf-export: no
pandoc-user-data:
xss-sanitize: yes
recent-activity-days: 30
