location /{{ location_name }}/ {
    subs_filter 'href="/' 'href="/{{ location_name }}/';
    subs_filter 'src="/' 'src="/{{ location_name }}/';
    subs_filter 'action="/' 'action="/{{ location_name }}/';
    # login info
    subs_filter '"/_user"' '"/{{ location_name }}/_user"';
    sub_filter_once off;

    proxy_pass     http://127.0.0.1:{{ port }}/;
    proxy_redirect / /{{ location_name }}/;
}